html , body{
    height: 100%;
    width: 100%;
    color: #222;
}
header .navbar{
    padding: 0.8rem!important;
}

.navbar-nav i{
    padding-right:2em!important ;
}

.logo{
    position: absolute;
    top: 8px;
    left: 20px;
}

.carousel-inner {
    height: 50%!important;

 img{
max-height: 50%;
width: 100%;
}
}


.img-hover {
    transition: transform .3s;
  }
  
  .img-hover:hover {
    transform: scale(1.5);
  }
  
 .keep-aspect{
    aspect-ratio: 16/9;
 }

 .accordion .accordion-header {
    background-color: red!important;
}
