$proj-green:#8CBF3F;
$proj-purple:#9453A6;
$proj-yellow:#F2CC0F;

// font-family: 'Bona Nova', serif;
// font-family: 'Karantina', cursive;

html , body{
    height: 100%;
    width: 100%;

}

 body{
    overflow-x:hidden ;
 }
header .navbar{
    padding: 0.8rem!important;
}

.navbar-nav i{
    padding-right:2em!important ;
}

.logo{
    position: absolute;
    top: 8px;
    left: 20px;
    transition: 0.3s;
}
.logo:hover{
    position: absolute;
    top: 8px;
    left: 20px;
    scale: (1.2);
}

.carousel-inner {
    height: 50%!important;

 img{
max-height: 50%;
width: 100%;
}
}

.w-20{
    width: 20%;
}

.img-hover {
    transition: transform .3s;
  }
  
  .img-hover:hover {
    transform: scale(1.5);
  }
  
 .keep-aspect{
    aspect-ratio: 16/9;
 }

.bg-p-purple{
    background-color: $proj-purple!important;
}
.p-purple{
    color: $proj-purple!important;
}


.bg-p-yellow{
    background-color: $proj-yellow!important;
}

.p-yellow{
    color: $proj-yellow!important;
}

.bg-p-green{
    background-color: $proj-green!important;
}
.bg-p-green{
    color: $proj-green!important;
}



.menu-shadow:hover{
    box-shadow: 1px 16px 26px -3px rgba(242,204,15,0.77);
    -webkit-box-shadow: 1px 16px 26px -3px rgba(242,204,15,0.77);
    -moz-box-shadow: 1px 16px 26px -3px rgba(242,204,15,0.77);
    transition: 0.3s;
    background-color: $proj-green;
}

.f-koteret{
    font-family: 'Karantina', cursive !important;
    font-size: 4rem;
}

.f-melel{
    font-family: 'Bona Nova', serif !important;
    font-size: 1.5rem;
}

nav{
    font-family: 'Karantina', cursive;
}

.w-15{
    width:10%;
}

.ul-footer{
    list-style-type: none;
    margin-left: 0;
    padding-right: 0;
    font-family: 'Bona Nova', serif !important;
    font-size: 1rem;
}

@media (max-width: 768px) {
    
    .logo{
         width: 20%;
        position: relative;
    }

     body{
        height: 100vh;
        width: 100vw;
    }
    
    #motycard{
        margin: auto;
    }
    #iframe-m{
        margin: auto;
    }

    #footer-logo{
        width:50%;
    }

    .iframefix{
        margin-right: 10%;
    }

  }


